<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock%}</title>
</head>
<body>
<H2>There are some headers</H2>

<strong >{% block content %} {% endblock%}</strong>
</body>
</html>