{% extends "base.html"%}

{% block title %}
    Quotes
{% endblock%}


{% block content %}
    {% for item in items%}
    <p>
        >> <i>{{item['name']}}</i>:
        {{ item['text'] }}
    </p>
    {% endfor%}

{% endblock %}